body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1F2937;
  color: white;
  padding-left: 30px;
}

.header .logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.header-links ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding-right: 30px;
  cursor: pointer;
}

.header-links a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: font-size 0.15s, font-weight 0.15s;
}

.header-links a:hover {
  font-size: 17px;
  font-weight: 500;
}

.welcome-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  color: white;
  padding: 40px 0;
}

.welcome-content p {
  width: 400px;
  margin: 0;
}

.welcome-title {
  font-size: 32px;
  font-weight: 500;
}

.welcome-content .description {
  margin: 20px 0;
  font-size: 16px;
}

.view-students {
  background-color: #3882f6;
  color: white;
  border-style: none;
  border-width: 1px;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.class-picture {
  width: 700px;
  object-fit: cover;
  border-radius: 50px;
  box-shadow: 4px 4px 8px rgba(153, 153, 153, 0.8);
}

.main-content {
  margin: 30px 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
}

.achievement-title {
  margin: 20px 0 30px;
  font-size: 50px;
  font-weight: 500;
}

.college-scholars {
  display: flex;
  flex-wrap: wrap;
  gap: 95px;
  justify-content: center;
}

.college-scholars img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.student-info {
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.student-info a {
  text-decoration: none;
  color: black;
}

.student-info .name, .student-info .gpa {
  font-size: 15px;
  margin: 5px 0 10px;
}

.student-info .name {
  transition: font-size 0.15s, font-weight 0.15s;
}

.student-info .name:hover {
  font-size: 16px;
  font-weight: 500;
}

.additional-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  padding: 50px;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.additional-content .author {
  justify-content: flex-end;
}

.message-section {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 70px 0;
}

.message-section .container {
  margin: 30px 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 25px 45px;
}

.message-button {
  background-color: #3882f6;
  color: white;
  border-style: none;
  border-width: 1px;
  padding: 7px 10px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: padding 0.15s, font-weight 0.15s;
}

.message-button:hover {
  padding: 10px 15px;
  font-weight: 500;
}

footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  background-color: #1F2937;
  color: white;
  font-size: 20px;
  padding: 5px 0;
}